<div class="homepage">
	<div class="header"><span class="active"><i class="icon-trophy icon-2x"></i><p>Top</p></span>
		<span><i class="icon-fire icon-2x"></i><p>Trending</p></span>
		<span><i class="icon-upload icon-2x"></i><p>New</p></span>
	</div>
	<ul>
	<%@microposts.each do |x|%>
	<li>
		<span class="image"><%=image_tag "unknown.png",width:80, height:80%>
     		</span>
     	<span class="name"><%=x.top.name%></span>
     	<span class="content"><%=(x.top.content*15)[0...200]%><%if (x.top.content*15).length>200%><p class="show">...</p><%end%></span>
          <p class="hidden_content" style="display:none"><%=x.top.content*15%></p>
     	<div style="clear:both"></div>

		<a class="goto" href="<%='/post/'+x.id.to_s+"/"+urlify(x.title)%>">
			<i class="icon-white icon-chevron-right"></i>
	</a>
	<div class="toolbar">
		<span class="title"><%=x.title%> by <span class="user"><%=x.user.name%></span></span>
			<span class="comments <%='upped' if commented_on_it?(current_user,x)%>" data-title="comments"><i class="icon-white icon-comments sign_in_please"></i><p style="display:inline"><%=x.comment_threads.size%></p></span>
			<span class="like_counter <%='upped' if liked_it?(current_user,x,'Micropost')%>" data-title="likes"><i class="icon-white icon-thumbs-up sign_in_please"></i><p style="display:inline"><%=x.likes%></p></span>
			<span class="subscribers <%='upped' if subscribed_it?(current_user,x)%>" data-title="subscribers"><i class="icon-white icon-bullhorn sign_in_please"></i><p style="display:inline"><%=x.subscribers.count%></p></span>
			<div class="after"></div>
	</div>
	</li>
	<%end%>
	</ul>
</div>
<%if signed_in?%>
<div class="recommended">
	<ul>
	<%@recommends.each do |x|%>
	<li>
		<span class="goto">
		</span>
	</li>
	<%end%>
	</ul>
</div>
<%end%>