<li id="<%=comments.id%>" class="comment_wrapper <%= 'child' unless comments.parent_id.nil?%>">
	<div class="container" style="width:<%=comments.user.name.length*5%>px"><p class="name"><%=comments.user.name%></p><span style="width:<%=comments.user.name.length*3%>px" class="likez <%='upped' if liked_it?(current_user,comments,"Comment")%>" data-title="like?"><%=comments.likes%></span><span class="commentz" style="width:<%=comments.user.name.length*3%>px" data-title="comment?"><%=comments.children.size%></span></div>
<p class="body"><%=comments.body%></p>
<div style="clear:both"></div>
		<i class="icon-close icon-2x icon-white"></i><span class="timestamp">Posted <%=time_ago_in_words(comments.created_at)%> ago.</span>
</li>

